@import "../settings/_color.scss";

@mixin highlight() {
  box-shadow: 0px 0px 0px 1px $color-primary-light;
  border-color: $color-primary-light;  
}

input:focus {
  @include highlight();
}


button:focus {
  // @include highlight();
  // box-shadow: inset 5em 1em gold;
}
