@import "../settings/_color.scss";

@mixin highlight() {
  border: 2px solid $color-primary-light;
}

input:focus {
  @include highlight();
  box-shadow: none;
}


button:focus {
  // @include highlight();
  // box-shadow: inset 5em 1em gold;
}
