<nav class="navbar is-fixed-top is-link" role="navigation" aria-label="dropdown navigation">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link is-white">
      Menu
    </a>

        <div class="navbar-dropdown">
            <a class="navbar-item">
        Histórico e Solicitações
      </a>
            <a class="navbar-item">
        Dashboards de Gastos
      </a>
            <a class="navbar-item">
        Perfil
      </a>
            <hr class="navbar-divider">
            <div class="navbar-item">
                Sair
            </div>
        </div>
    </div>
</nav>