<app-navbar></app-navbar>
<div class="card crud-card">
    <header class="crud-header-card ">
        <h1 class="crud-title">
            Cadastro Reembolso ContaAzul
        </h1>

    </header>
    <div class="card-content">
        <div class="crud-content">
            <form class="example-class" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <div class=" field ">
                    <label class="label is-small ">Nome</label>
                    <div class="control ">
                        <input formControlName="nome" class="input is-hoverable is-info is-shadowless crud-input" type="text" placeholder="Nome " required autofocus>
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Email</label>
                    <div class="control ">
                        <input formControlName="email" class="input is-hoverable is-info is-shadowless crud-input " type="email " placeholder="email@email.com " value=" ">

                    </div>

                </div>

                <div class="field ">
                    <label class="label is-small ">Senha</label>
                    <div class="control ">
                        <input type="password" formControlName="senha" class="input is-hoverable is-info is-shadowless crud-input " placeholder="************** " value=" ">
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Confirmar Senha</label>
                    <div class="control ">
                        <input type="password" class="input is-hoverable is-info is-shadowless crud-input " placeholder="************** " value="">
                    </div>
                </div>

                <div class="field ">
                    <div class="control ">
                        <label class=" block ">
                            <input type="radio" class="is-info is-hoverable "> Criar nova empresa (Admin)
                        </label>

                        <label class="block ">
                            <input type="radio" class="is-info is-hoverable" name= "question "  checked> Inserir Código existente
                        </label>
                    </div>
                </div>

                <div class="field ">
                    <label class="label is-small ">Código da empresa</label>
                    <div class="control ">
                        <input class="input is-hoverable is-info is-shadowless crud-input" formControlName="codigoEmpresa" type="number" placeholder="Inserir código da empresa " required>
                    </div>

                </div>

                <div class="control ">
                    <button type="submit " class="button is-info is-focused crud-btn ">Enviar</button>
                </div>
            </form>

        </div>
    </div>

</div>