@import "../../styles/components/_card.mixin.scss";
@import "../../styles/settings/_color.scss";

.card {
	@include card();	
}

.login-card {
	font-size: 1.7em;
}

.login-header-card {
	background-color: $color-primary;
	border-radius: 2px;		
}

.login-title {
	color: $white;
}

.sub-title {
}

.crud-btn {
	margin: 15px 0px;
}

.is-black {
}

.login-input {
}

label {
}