<div class="card login-card">
	<div class="card-header login-header-card">
		<h1 class="card-header-title is-centered login-title">
			Reembolso Azul :)
		</h1>
	</div>
	<div class="card-content">
		<div class="content">
			<form class="example-class" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
				<div class="field">
					<label class="label">Email</label>
					<div class="control">
						<input class="input login-input" formControlName="appUser" type="email" placeholder="exemplo@gmail.com" value="" autofocus required>
					</div>
				</div>

				<div class="field">
					<label class="label">Senha</label>
					<div class="control">
						<input class="input login-input" formControlName="password" type="password" placeholder="Senha" value="" required>
					</div>
				</div>
				<div class="field">
					<div class="control">
						<button type="submit " class="button is-info is-fullwidth is-focused crud-btn ">Entrar</button>
					</div>
				</div>

			</form>

			<div class="field is-grouped is-grouped-centered sub-title">
				<p class="control">
					<a href="/forgotPassword" class="is-black">ESQUECI MINHA SENHA</a>
				</p>
				<p class="control">
					<a href="/empresaAdd">QUERO ME CADASTRAR</a>
				</p>
			</div>
		</div>
	</div>
</div>