/* You can add global styles to this file, and also import other style files */

.titulo {
	font-family: 'Nunito', sans-serif;
	color: purple;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	
	background-color: #eeeeee;  
	color: #2c3e50;
	
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothsing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	background-color: #eeeeee;
}