<app-navbar></app-navbar>
<div class="card crud-card">
    <header class="crud-header-card ">
        <h1 class="crud-title">
            Cadastro Reembolso ContaAzul
        </h1>

    </header>
    <div class="card-content">
        <div class="crud-content">
            <form action="/login" class="example-class">
                <div class="field">
                    <label class="label is-small">Nome</label>
                    <div class="control">
                        <input class="input is-hovered is-info crud-input" type="text" placeholder="Nome" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label is-small">Email</label>
                    <div class="control">
                        <input class="input is-hovered is-info crud-input" type="email" placeholder="email@email.com" value="">

                    </div>

                </div>

                <div class="field">
                    <label class="label is-small">Senha</label>
                    <div class="control">
                        <input class="input is-hovered is-info crud-input" type="password" placeholder="**************" value="hello@">
                    </div>
                </div>

                <div class="field">
                    <label class="label is-small">Confirmar Senha</label>
                    <div class="control">
                        <input class="input is-hovered is-info crud-input" type="password" placeholder="**************" value="hello@">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class=" block">
              <input type="radio" name="question" class="is-info is-hovered"> Criar nova empresa (Admin)
            </label>
                        <label class="block">
              <input type="radio" name="question" checked> Inserir Código existente
            </label>
                    </div>

                    <div class="field">
                        <label class="label is-small">Código da empresa</label>
                        <div class="control">
                            <input class=" input is-hovered is-info crud-input " type="text " placeholder="Inserir código da empresa ">
                        </div>
                    </div>

                </div>

                <div class="control">
                    <input type="submit" class="button is-info  is-focused crud-btn " value="Confirmar" />
                </div>
            </form>

        </div>
    </div>

</div>