/* You can add global styles to this file, and also import other style files */

.titulo {
    font-family: Roboto;
    color: purple;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    background-color: #eeeeee;
}